# Project Environment Variables
IOTSERVER_SECRET_KEY='insecure-secret'
IOTSERVER_CORS_ORIGIN_WHITELIST='http://localhost:3000'
IOTSERVER_CORS_ALLOW_ALL_ORIGINS='0'

IOTSERVER_POSTGRES_USER='postgres'
IOTSERVER_POSTGRES_PASSWORD='insecure-password'
IOTSERVER_POSTGRES_DBNAME='iotserver'

IOTSERVER_SONOFF_REGION='eu'
IOTSERVER_SONOFF_APP_ID='sonoff-app-id'
IOTSERVER_SONOFF_APP_SECRET='sonoff-app-secret'
IOTSERVER_SONOFF_REDIRECT_URL='http://localhost:8000/integrations/sonoff/callback/'
IOTSERVER_SONOFF_AUTHORIZE_URL='https://c2ccdn.coolkit.cc/oauth/index.html'
IOTSERVER_SONOFF_TOKEN_URL='https://eu-apia.coolkit.cc/v2/user/oauth/token'
IOTSERVER_SONOFF_REFRESH_URL='https://eu-apia.coolkit.cc/v2/user/refresh'
IOTSERVER_SONOFF_DEVICE_URL='https://eu-apia.coolkit.cc/v2/device/thing/status'

IOTSERVER_SOLARMAN_BASE_URL='https://globalapi.solarmanpv.com'
IOTSERVER_SOLARMAN_APP_ID='solarman-app-id'
IOTSERVER_SOLARMAN_APP_SECRET='solarman-app-secret'
IOTSERVER_SOLARMAN_EMAIL='solarman-email@example.com'
IOTSERVER_SOLARMAN_PASSWORD='solarman-password'

IOTSERVER_OPENWEATHER_URL='https://api.openweathermap.org/data/3.0/onecall'
IOTSERVER_OPENWEATHER_APIKEY='openweather-key'

IOTSERVER_GOOGLEMAPS_APIKEY='googlemaps-key'

IOTSERVER_WEBREPL_PORT='8266'
IOTSERVER_WEBREPL_PASSWORD='insecure-password'
IOTSERVER_AUTO_SYNC_DEVICE=1

IOTSERVER_DEVICE_HEALTH_URL='http://localhost:8000/health/{identifier}/'

# Build Environment Variables
DOCKER_POSTGIS_IMAGE='kartoza/postgis:15'

# GDAL local path
IOTSERVER_GDAL_LIBRARY_PATH='/path/to/your/libgdal.so'
IOTSERVER_GEOS_LIBRARY_PATH='/path/to/your/libgeos_c.so'
